@model SucessoEventos.ViewModels.ParticipanteViewModel

@{
    ViewData["Title"] = "Formulário";
}

@if (@TempData["error"] != null)
{
    <div id="alert" class="alert-feedback alert alert-success alert-dismissible fade show d-flex justify-content-bPreeetween" role="alert">
        @TempData["error"]
        <span type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">X</span>
        </span>
    </div>
}

<h1>Formulário</h1>

<div class="container">
    @using (Html.BeginForm("Form", "Participante", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>

        <br/>
        
        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento)
            @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone)
            @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control phone-mask" })
            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
        </div>

        <br/>

        <div class="form-group">
            @Html.LabelFor(model => model.CodPac, "Pacotes:")
            @Html.ListBoxFor(model => model.CodPac, new MultiSelectList(Model.Pacotes, "CodPac", "DescricaoDetalhada"), new { @class = "form-control" })
        </div>

        <br/>

        <div class="form-group">
            @Html.LabelFor(model => model.CodAtv, "Atividades:")
            @if(Model.Atividades != null)
            {
                @foreach (var atividade in Model.Atividades)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@("atividade_" + atividade.CodAtv)" name="CodAtv" value="@atividade.CodAtv" @(atividade.Selected ? "checked" : "")>
                        <label class="form-check-label" for="@("atividade_" + atividade.CodAtv)">
                            @atividade.DescAtv
                        </label>
                    </div>
                }
            }
        </div>

        <div class="row mt-3 justify-content-end text-end">
            <div class="col mb-3">
                <button type="submit" class="btn btn-primary">Prosseguir</button>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.phone-mask').mask('(99) 99999-9999');
        });

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                language: 'pt-BR'
            });
        });
    </script>
}
